@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'WorkSans-Regular';
    src: local('WorkSans-Regular'), url(/fonts/WorkSans-Regular.ttf);
}

* {
    font-family: WorkSans-Regular;
}
